# ci-android.yml
name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 12.x
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: 1.22.6
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
      - uses: actions/upload-artifact@v1
        with:
          name: release-ios
          path: build/ios/iphoneos/Runner.app
      - name: upload artefact to App Center
        uses: wzieba/AppCenter-Github-Action@v1
        with:
          appName: patrick.raguin/Snake
          token: ${{secrets.APPCENTER_IOS_TOKEN}}
          group: BAM
          file: build/ios/iphoneos/Runner.app
          notifyTesters: true
          debug: true
